<a href="/">index</a>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      Search: <input ng-model="query">
      Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="description">Newest</option>
        </select>
    </div>
    <div class="col-md-10">
      <ul ng-repeat="player in players | filter:query | orderBy:orderProp"" class="listing">
        <li><a ng-click="viewPlayer(player.id)">{{ player.name }}</a></li>
      </ul>
    </div>
  </div>
</div>
